function Slot.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 0
push argument 2
call Math.divide 2
pop this 1
push argument 0
push argument 2
call GameMath.remainder 2
pop this 2
push constant 4
call Array.new 1
pop this 3
push this 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Wall.up 0
push this 3
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push this 2
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Wall.left 0
push this 3
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push this 1
push argument 1
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
call Wall.down 0
push this 3
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE2
push this 2
push argument 2
eq
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
call Wall.right 0
push this 3
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE3
push pointer 0
return
function Slot.draw 2
push argument 0
pop pointer 0
push argument 1
push this 1
add
push constant 16
call Math.multiply 2
pop local 0
push argument 2
push this 2
add
push constant 16
call Math.multiply 2
pop local 1
push local 1
push local 0
push local 1
push constant 16
add
push local 0
push constant 16
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
